PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxx.mongodb.net/Badminton?retryWrites=true&w=majority
JWT_SECRET=your-jwt-secret
JWT_EXPIRES=7d
SEPAY_API_KEY=your-sepay-api-key
SEPAY_BANK_ACCOUNT=your-bank-account
SEPAY_BANK_CODE=BIDV
SEPAY_BANK_NAME=BIDV
SEPAY_ACCOUNT_NAME="YOUR NAME"
